/*
h1 {
  text-align: center;
  font-variant: small-caps;
}

p {
  text-align: center;
}
*/

body {
  font-size: 30px;
}

/* GRID CONTAINER */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  background-color: rgba(100, 255, 255, 1.0);
}

/* DEFAULT GRID ITEMS */
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  text-align: center;
}

.item-head {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.item-body {
  grid-column: 2 / span 2;
  grid-row: 2;
}

.item-choice {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.item-left {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.item-right {
  grid-column: 4;
  grid-row: 1 / span 3;
}

.item-bottom {
  grid-column: 1 / span 4;
  grid-row: 4;
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
*/
